<style>
    /* Change la couleur du badge directement dans l'en-tête de l'article */
    .meta-taxonomy a[href*="/tags/jam/"], 
    .meta-taxonomy a[href*="/categories/jam/"] {
        background-color: #fef08a !important;
        color: #854d0e !important;
        border: 1px solid #eab308 !important;
    }
    
    /* Version Mode Sombre pour l'en-tête */
    .dark .meta-taxonomy a[href*="/tags/jam/"], 
    .dark .meta-taxonomy a[href*="/categories/jam/"] {
        background-color: #713f12 !important;
        color: #fef08a !important;
        border: 1px solid #a16207 !important;
    }
</style>